/*Variáveis do Estilo*/
:root {
    --cor01: #292F36;
    --cor02: #4ECDC4;
    --cor03: #F7FFF7;
    --cor04: #FF6B6B;
    --cor05: #FFE66D;
    --cor06: #2B2E31;
    --cor07: #7DB7B3;
    --cor08: #F9FDF9;
    --cor09: #C68383;
    --cor10: #EDE2AB;
    --cor11: #A6A6A6;
    --cor12: #DFDFDF;
    --cor13: #979797;
    --cor14: #414549;
    --cor15: #b2d3d1;
    --cor16: #6b717a;
}

/*Reset Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
    background: var(--cor12);
}

body {
    overflow-x: hidden;
}

/* === BOX ERRO DO PAINEL === */
.erro-box {
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: var(--cor04);
    color: white;
    font-size: 14px;
}


/* === PÁGINA DE LOGIN === */
.box-login {
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: var(--cor08);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px var(--cor13);
}

.box-login h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: var(--cor06);
    margin: 10px 0;
}

.box-login input[type=text],
.box-login input[type=password] {
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor12);
    padding-left: 8px;
    margin: 8px 0;
}

.box-login input[type=submit] {
    min-width: 120px;
    height: 30px;
    background: var(--cor07);
    color: var(--cor03);
    border: 0;
    margin: 8px 0;
}

.form-group-login label {
    font-size: 13px;
    font-weight: 300;
    color: var(--cor06);
    padding-right: 6px;
}

form .form-group-login:nth-of-type(2) {
    position: relative;
    top: 12px;
}

/* === PAINEL DE CONTROLE === */
/* == GERAL == */
.clear {
    clear: both;
}

.center {
    padding: 0 2%;
    margin: 0 auto;
}

/* == MENU == */
.menu-wraper {
    width: 300px;
}

div.menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: var(--cor01);
    float: left;
    padding: 10px;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
}

header {
    background: var(--cor14);
    padding: 10px 0;
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
}

.logout {
    float: right;
}

.logout a {
    padding: 0 10px;
    color: var(--cor03);
    font-size: 14px;
    text-decoration: none;
}

.logout a:hover {
    color: var(--cor13);
}

.menu-btn {
    float: left;
    cursor: pointer;
    font-size: 17px;
    color: var(--cor03);
}

.menu-btn:hover {
    color: var(--cor12);
}

/* == SIDEBAR == */

div.box-usuario {
    text-align: center;
    display: flex;
    background: var(--cor14);
    padding: 10px;
    border-radius: 10px;
}

.avatar-usuario {
    text-align: left;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid var(--cor03);
    margin-left: 25px;
    margin-right: 25px;
}

.avatar-usuario i {
    font-size: 30px;
    color: var(--cor03);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagem-usuario {
    display: inline-block;
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 50%;
    border: 3px solid var(--cor03);
    margin-left: 25px;
    margin-right: 25px;
}

.imagem-usuario img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-usuario {
    text-align: center;
    margin-top: 8px;
    padding-top: 6px;
}

.nome-usuario p {
    font-size: 14px;
    font-weight: 400;
    color: var(--cor03);
    margin: 4px 0;
}

.nome-usuario p.cargo {
    font-size: 13px;
    font-weight: 300;
    color: var(--cor13);
}

.itens-menu {
    margin-top: 30px;
}

.itens-menu h2 {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    background: var(--cor16);
    color: var(--cor03);
    padding: 8px;
}

.itens-menu a {
    display: block;
    padding: 8px;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    color: var(--cor03);
    border-bottom: 1px solid var(--cor14);
}

.menu-active {
    background: var(--cor14);
}

/* == CONTEÚDO PRINCIPAL DO PAINEL == */
.w100 {
    width: 100%;
}

.w50 {
    width: 49%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

.box-content {
    background: var(--cor08);
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.box-content h2.title {
    font-size: 25px;
    font-weight: 600;
    color: var(--cor14);
}

/* == BOX MÉTRICAS == */
.box-metricas {
    margin-top: 16px;
    padding: 0 15px;
}

.box-metricas-single {
    float: left;
    position: relative;
    width: 33.3%;
    background: var(--cor05);
    border: 5px solid var(--cor03);

}

.box-metricas-single:nth-of-type(2) {
    background: var(--cor04);
}

.box-metricas-single:nth-of-type(3) {
    background: var(--cor02);
}

.box-metricas-wraper {
    padding: 10px 20px;
    text-align: left;
    color: var(--cor03);
}

.box-metricas-wraper h2 {
    font-size: 25px;
    font-weight: 400;
}

.box-metricas-wraper p {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

/* == TABELA RESPONSIVA == */
.table-responsive {
    max-width: 1280px;
    margin: 20px auto;
}

.table-responsive .row:nth-of-type(1) {
    background: var(--cor14);
    color: var(--cor03);
    font-weight: bold;
}

.table-responsive .row {
    color: var(--cor13);
    border-bottom: 1px solid var(--cor12);
    padding: 8px 5px;
}

.col {
    float: left;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .box-single-wraper {
        width: 100%;
        min-height: 0;
    }

    .box-metricas-single {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .row1,.row2{
		width: 100%;
	}

    .menu {
        display: none;
        padding: 0;
        width: 0;
    }

    .content {
        width: 100%;
        left: 0;
    }

    header {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .box-imgs,
	.box-single{
		width: 100% !important;
	}

    .w50 {
        width: 100%;
    }

    .box-single-metrica {
        width: 100%;
        padding-top: 40%;
    }
}

@media screen and (max-width: 400px) {

    .box-content {
        padding: 8px 2%;
    }

    .box-metricas-wraper h2 {
        font-size: 24px;
    }

    .box-metricas-wraper p {
        padding: 10px 0;
        font-size: 22px;
    }

    .menu-wraper {
        width: 200px;
    }
}

@media screen and (max-width: 380px) {
    .items-menu a {
        font-size: 15px;
    }
}

/* === PÁGINA EDITAR USUÁRIO === */
.box-content .form-group {
    margin: 15px 0;
}

.box-content form {
    margin: 30px 0;
}

.box-content form label {
    font-size: 15px;
    font-weight: 300;
    color: var(--cor06);
    display: block;
}

.box-content form input[type=text],
.box-content form input[type=password] {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 400;
    color: var(--cor06);
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid var(--cor11);
}

.box-content form input[type=file] {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cor11);
}

.box-content form input[type=submit] {
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    background: var(--cor07);
    color: var(--cor03);
    border: 0;
    padding: 0 10px;
}

/* = BOX DE ALERTA = */
.box-alert {
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

.sucesso {
    color: var(--cor03);
    background: var(--cor02);
}

.erro {
    color: var(--cor03);
    background: var(--cor04);
}

/* == PÁGINA ADICIONAR USUÁRIO == */
.box-content form select {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 400;
    color: var(--cor06);
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor11);
    padding-left: 8px;
    background: white;
}

/* == PÁGINA CADASTRAR DEPOIMENTO == */
.box-content form textarea {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 400;
    color: var(--cor06);
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid var(--cor11);
    resize: vertical;
}

/* == PÁGINA LISTAR DEPOIMENTOS == */
.wraper-table {
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: 900px;
    margin: 20px 0;
    border-collapse: collapse;
    font-size: 14px;
}

table tr:nth-of-type(1) {
    background: var(--cor14);
    color: var(--cor03);
    text-transform: uppercase;
    font-weight: 300;
}

table tr {
    color: var(--cor14);
    border-bottom: 1px solid var(--cor12);
}

table td {
    padding: 6px;
    ;
}

a.btn {
    display: inline-block;
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 4px;
    color: var(--cor03);
    font-size: 13px;
}

a.btn.edit {
    background: var(--cor07);
}

a.btn.delete {
    background: var(--cor09);
}

a.btn.order {
    background: var(--cor10);
}

.paginacao {
    text-align: center;
    margin: 20px 0;
}

.paginacao a {
    font-size: 13px;
    margin: 0 4px;
    display: inline-block;
    padding: 3px 4px;
    border: 1px solid var(--cor11);
    text-decoration: none;
    color: var(--cor14);
}

.paginacao a.page-selected {
    background: var(--cor12);
}

/* ===== Gerenciar Clientes ===== */
.box-single-wraper {
    float: left;
    width: 33.3%;
    padding: 20px;
}

.box-single {
    width: 100%;
    border: 1px solid var(--cor12);
    min-height: 230px;
    border-radius: 10px;
    overflow-x: auto;
}

.topo-box {
    text-align: center;
    color: var(--cor11);
    border-bottom: 1px solid var(--cor12);
    padding: 10px 0;
}

.topo-box img {
    display: block;
    max-width: 120px;
    margin: 0 auto;
}

.topo-box h2 {
    font-size: 36px;
}

.body-box {
    padding: 10px;
}

.body-box p {
    color: var(--cor06);
    font-size: 15px;
    margin-bottom: 8px;
}

@media screen and (max-width: 1024px) {
    .box-single-wraper {
        width: 100%;
    }
}

/* ===== VISUALIZAR PAGAMENTOS ===== */
.gerar-pdf {
    display: block;
    margin: 10px 0;
}

.gerar-pdf a {
    color: var(--cor03);
    padding: 3px 8px;
    background: var(--cor09);
    text-decoration: none;
}

/* ===== CADASTRAR PRODUTOS ===== */
input[type=number] {
    margin-top: 8px;
    height: 30px;
}

/* ===== VISUALIZAR PRODUTOS ===== */
.box-imgs img {
    width: 100%;
}

.box-imgs img.img-square {
    width: 150px;
    height: 150px;
    display: block;
    margin: 8px auto;
}

.box-imgs {
    text-align: center;
}

.box-imgs h1 {
    color: #ccc;
    font-size: 70px;
    margin: 10px 0;
}

.group-btn {
    margin-top: 15px;
}

.group-btn a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 3px 8px;
}

.busca{
	margin: 10px 0;
	width: 100%;
	padding:8px 10px;
}

.busca form{
	margin: 0;
}

.busca h4{
	font-weight: lighter;
	font-size: 23px;
	color: #646464;
}

.busca-result{
	color: #646464;
	border-top:3px solid #ccc;
}

.busca-result p{
	font-size: 16px;
}

.row1{
	float: left;
	width: 30%;
	padding:8px 10px;
}

.row1 img{
	width: 100%;
}
.row2{
	float: left;
	width: 70%;
	padding:8px 10px;
}

.row2 p{
	padding:8px 0;
	color: #646464;
	border-bottom: 1px solid #ccc;
}

/* ===== EDITAR PRODUTOS ===== */
.boxes{
	display: flex;
	flex-wrap: wrap;
}

/* ===== Visualizar empreendimento ===== */
.card-title{
	width: 100%;
	padding:6px;
	color: var(--cor03);
	margin:10px 0;
	font-size: 17px;
	font-weight: 300;
	background: var(--cor13);
}

/* ===== CHAT ONLINE ===== */
.box-chat-online {
    height: 300px;
    padding: 5px 8px;
    overflow-y: scroll;
    margin: 20px 0;
    border: 1px solid var(--cor12);
}

.mensagem-chat {
    padding: 8px 0;
    border-bottom: 1px dotted var(--cor13);
}

.mensagem-chat span {
    background: var(--cor07);
    padding: 0 4px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}

.mensagem-chat p {
    font-size: 15px;
    color: var(--cor14);
}
/* ===== Calendario ===== */
table.calendario-table td {
    border: 1px solid var(--cor12);
    text-align: center;
    cursor: pointer;
}

.day-selected {
    background: var(--cor12);
}

.box-tarefas-single {
    background: var(--cor09);
    float: left;
    width: 33.3%;
    border: 4px solid white;
    color: var(--cor03);
}

.box-tarefas-single h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 0 8px;
}